html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END OF CSS RESET */
body {
  font-size: 16px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fffafa; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

button {
  background-color: #e24548;
  color: #fffafa;
  font-size: 1rem;
  padding: 10px 5px 10px 5px;
  border-radius: 130px;
  border: 1px solid red; }

header {
  position: relative;
  width: 100%; }
  header nav {
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 5rem;
    width: 100%;
    max-height: 1450px;
    color: #222222;
    background-color: #fffafa; }
    header nav .logo {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      header nav .logo__icon {
        font-size: 3rem;
        width: 100px; }
    header nav .navLinks {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      header nav .navLinks__li a {
        font-size: 1rem;
        color: #222222;
        text-decoration: none; }
    header nav .build {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      header nav .build__btn {
        font-size: .9rem;
        width: 7rem; }

.landing {
  background-image: url("https://i.postimg.cc/TYXD6QCZ/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
  width: 100%; }
  .landing__jumbo {
    position: relative;
    height: 75vh;
    width: 80%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto; }
    .landing__jumbo__textBox {
      flex: 1;
      display: flex;
      text-align: left;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      color: #fffafa;
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
      flex-basis: 40%;
      max-width: 520px; }
      .landing__jumbo__textBox__h2 {
        font-size: 3.2rem;
        padding-bottom: 20px;
        line-height: 1.2;
        letter-spacing: 3px;
        font-weight: lighter; }
      .landing__jumbo__textBox__p {
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 1.3;
        font-weight: lighter; }
    .landing__jumbo__form {
      flex: 1;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      color: #fffafa;
      background: rgba(0, 0, 0, 0.5);
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
      flex-basis: 40%;
      max-width: 500px;
      padding: 20px; }
      .landing__jumbo__form__summary {
        padding: 30px; }
        .landing__jumbo__form__summary__line {
          display: inline-flex;
          font-family: Arial, Helvetica, sans-serif;
          padding-bottom: 10px; }
          .landing__jumbo__form__summary__line i {
            font-size: 2.0rem;
            line-height: 1.2;
            letter-spacing: 3px; }
          .landing__jumbo__form__summary__line p {
            font-size: 1.0rem;
            line-height: 1.2;
            letter-spacing: 3px;
            text-align: left;
            padding-left: 20px; }
      .landing__jumbo__form__inputs {
        width: 80%;
        padding: 30px; }
        .landing__jumbo__form__inputs__enter {
          color: white;
          font-family: Helvetica, Arial, sans-serif;
          font-weight: 500;
          font-size: 1rem;
          border-radius: 5px;
          line-height: 22px;
          background-color: #fffafa;
          transition: all 0.3s;
          padding: 13px;
          margin-bottom: 15px;
          width: 100%;
          box-sizing: border-box;
          outline: 0; }
        .landing__jumbo__form__inputs__submit {
          font-family: 'Montserrat', Arial, Helvetica, sans-serif;
          width: 100%;
          background: #CC6666;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          color: white;
          font-size: 1rem;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          margin-top: -4px; }

main {
  position: relative;
  width: 100%; }
  main .title {
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
    text-align: center; }
    main .title__h2 {
      padding-bottom: 10px; }
    main .title__p {
      color: #888888; }
  main .fitness {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 80px;
    margin-left: auto;
    margin-right: auto; }
    main .fitness__card {
      flex: 1;
      align-self: center;
      padding: 0 20px; }
      main .fitness__card__img {
        align-items: center;
        display: block;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto; }
      main .fitness__card__h3 {
        font-size: 1.2rem;
        text-align: center;
        padding: 20px 0; }
      main .fitness__card__p {
        font-size: .9rem;
        color: #888888;
        line-height: 1.5;
        text-align: center; }

footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5rem;
  position: relative;
  bottom: 0px; }
  footer nav {
    position: absolute;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 5rem;
    width: 100%;
    background-color: #fffafa;
    padding: 5px; }
    footer nav .navLinks {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 200px; }
      footer nav .navLinks__li a {
        font-size: 1rem;
        color: #888888;
        text-decoration: none; }
    footer nav .copy {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      footer nav .copy__txt {
        font-size: .7rem;
        color: #888888; }
    footer nav .logo {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      footer nav .logo__icon {
        font-size: 3rem;
        width: 100px; }

/* For desktop: */

/*# sourceMappingURL=main.css.map */
